.button__link {
	background: none;
	&:hover {
		text-decoration: underline;
	}
}

.button__success {
	background: #68d321;
	width: 60px;
}

.button__fail {
	background: #ef3726;
	width: 60px;
}

.button__container {
	max-width: 77rem;
	margin: 0 auto;
	position: relative;
}

.button-modal__container {
	width: 45%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.fa {
	align-content: center;
}
.button__remove {
	background: #888;
	float: left;
	width: 140px;
	margin-bottom: 80px;
	margin-top: 30px;
    margin-right: 10px;
	text-align: center !important;    
}

.button__add {
	float: right;
	width: 140px;
	margin-top: 30px;
	margin-bottom: 80px;
	margin-right: 10px;
}

#button-container--add {
	width: 50%;
	float: left;
}

#button-container--remove {
	width: 50%;
	float: right;
}
