.comment__container {
  margin: 0 auto 10px;
  padding: 4px 8px;
  width: 600px;
  @media (max-width: 640px) {
    width: 95%;
  }
}

.commentBox__actions {
  display: flex;
  justify-content: flex-end;
}

.commentBox__button {
  cursor: not-allowed;
}

.comment__item {
  display: flex;
  padding: 8px 12px;
  align-items: center;
}

.comment__actions {
  display: flex;
  justify-content: flex-end;
}

.comment__image {
  justify-content: flex-start;
}

.comment__content {
  flex-grow: 2;
}
