.content-container {
  width: 80%;
  margin: 0 auto;
  padding: 0 $m-size;
  span {
    font-weight: bold;
  }
  @media (max-width: 600px) {
    width: 90%;
  }
  @media (max-width: 600px) {
    width: 95%;
  }
}
