.page-header {
  margin-bottom: 10px !important;
  background: #dce8ff;
}

.page-header__actions {
  margin-top: $m-size;
}

.page-header__title {
  font-weight: 300;
  margin: 0;
}

.search__container {
  padding: 12px 24px;
}
